@media(max-width:1200px) {
    
	.myservice,
	.myservice img {
		
		margin: 10px 0px;
		box-shadow: 0 4px 103px 0 rgba(0, 0, 0, .05)!important;
		background-color: var(--color-white);
		border-radius: 22px;
		height: auto!important;

	}
	.my_curv{
		          border-top-left-radius: 54px;
			
	}
    .myservice p {
     
    
    color: rgb(255 255 255);
    padding: 10px;
    background: rgb(113 47 136 / 70%);
    }
	.myGallery img {
    height: auto!important;
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    display: block;
  }
  
  .menu_bar{
	opacity: 1;
  }
  .navigation{
	
    display: none;
    position: fixed;
    width: 100%;
    z-index: 99999;
    background: rgb(255 255 255);
    top: 68px;
    left: 0;
    padding: 10px;
    z-index: 99999999;

    
	
  }
	  .menu_bar{
		font-size: 39px!important;
	}


	


}
